/* .textContainer {
  display: flex;
  justify-content: center;

  z-index: 3;
} */

.contact {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  background-color: #e0c45c;
  overflow-x: hidden;
  overflow-y: hidden;
}

.contactList {
  list-style-type: none;

  color: white;
  display: flex;
  justify-content: center;

  /* display: flex;
  justify-content: center; */
}
.contactUlText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #161f29;
  border-radius: 1em;
  box-shadow: 0px 0px 25px -14px rgba(0, 0, 0, 0.75);
  padding: 10px;
}
.formContainer {
  width: 40%;
  min-width: 350px;
}

input[type="text"],
[type="tel"],
[type="email"] {
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  border: 0;
}

input[type="textarea"] {
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}
textarea {
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

.btnSubmit {
  width: 100%;
  border-radius: 3px;
  color: white;
  height: 35px;
  margin-top: 10px;
  background-color: transparent;
  border: 2px #cb3b3b solid;
  cursor: pointer;
}

.iconContainerContact {
  display: flex;
  justify-content: center;

  width: 100%;
  align-items: flex-end;
}

/* .icons {
  display: flex;
  justify-content: center;
}
.iconContainer {
  width: 100%;
  justify-content: center;
  bottom: 10px;
} */
