.animationContainerHome {
  /* height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  position: fixed;
  z-index: 0; */
  /* background-color: #141a20; */
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
  z-index: 0;
}

.animationContainerProject {
  display: flex;
  height: 450px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: absolute;
  z-index: 0;

  margin: auto;
}

.animationContainerContact {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: flex-end;
  justify-content: flex-end;
  bottom: 0;
  position: absolute;
  z-index: 0;
  flex-shrink: 1;

  background-color: #141a20;
}
