
/* https://coolors.co/44af69-095256-00bd9d-4ea699-339989 */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  
} 

.container {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #00bd9d;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.tree {
  height: 10vmin;
  fill: white
}

.textContainer {
 
display: flex;
justify-content: center;
margin: 10%; 
}

li {
  padding: 5px;
  text-align: center;
  color: white;
  
}

.btnHome {
  border-radius: 0;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background: transparent; 
  

}


