
/* https://coolors.co/44af69-095256-00bd9d-4ea699-339989 */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  
} 

.container {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #00bd9d;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.tree {
  height: 10vmin;
  fill: white
}

