/* https://coolors.co/44af69-095256-00bd9d-4ea699-339989 */

* {
  /* margin: 0;
  padding: 0; */
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  overflow-x: hidden;
  overflow-y: hidden;
}

.projects {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: green;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 4;
}

.btnProject {
  border-radius: 0;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background: transparent;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
