nav {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  background: #23262a; /*#339989*/
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  flex-wrap: wrap;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 4;
}

nav h2,
nav ul {
  font-size: 1.5rem;
  padding-left: 10px;
  color: white;
}

nav ul {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

/* .navIcons {
  width: 50%;
  height: 20px;
  width: 50px;
  justify-content: flex-end;
  padding: 5px;
} */

.navbar > .active {
  border-bottom: 1px solid white;
}
