.textContainer {
  display: flex;
  justify-content: center;
  margin: 10%;
}

li {
  padding: 5px;
  text-align: center;
  color: white;
  list-style-type: none;
}
.ulText {
  z-index: 3;
}

.icons {
  display: flex;

  justify-content: center;

  z-index: 3;
}

a {
  color: white;
}

.iconContainer {
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 10px;
}
