.textContainer {
  display: flex;
  position: absolute;
}

li {
  padding: 5px;
  text-align: center;
  color: white;
  list-style-type: none;
  z-index: 3;
}
.ulText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}

.icons {
  display: flex;
  justify-content: center;
}

a {
  color: white;
}

.iconContainer {
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 10px;
}
video {
}

/* .animationContainerHome {
  width: 100vw;
  height: 100vh;
  top: 0;
  padding: none;
  position: fixed;
  z-index: 0;
} */
